.education-card {
  border-color: #e1dbea;
  margin: 5px 15px 20px 15px;
  height: auto !important;
}

.education-card-info {
  &__title {
    color: #1d1d1d;
    line-height: 25px;
  }

  &__university {
    color: #5c5d5f;
  }

  &__degree {
    color: #1d1d1d;
  }

  &__university,
  &__degree {
    font-weight: 600;
    line-height: 19px;
    text-align: left;

    span {
      color: #808c9c;
      margin-right: 10px;
    }
  }
}

.education-footer {
  border-top: 1px solid #e1dbea;

  &__duration {
    font-size: 12px;
    font-weight: 400;
    color: #808c9c;
  }
}

.education-action-buttons {
  &__delete,
  &__edit {
    width: 15px;
    height: 15px;
    cursor: pointer;
  }

  &__delete {
    margin-left: 20px;
  }
}
