@import '~assets/scss/utils';

.wrapper {
  display: grid;
  grid-template-columns: minmax(273px, auto) 1fr;
  grid-template-rows: 80px 1fr;
  grid-template-areas:
    'sidebar header'
    'sidebar main'
    'sidebar main';
  @include media-breakpoint-down(md) {
    grid-template-columns: minmax(65px, auto) 1fr;
    grid-template-rows: 64px 1fr;
  }
}

.header-wrapper {
  grid-area: header;
}

.sidebar-wrapper {
  grid-area: sidebar;
}

.main-wrapper {
  grid-area: main;
  padding: 0px !important;
}
