@import '~assets/scss/utils.scss';

.main-container {
  margin-left: 4em;
  margin-top: 5em;

  @include media-breakpoint-up(md) {
    margin-left: 16.875em;
    margin-top: 6.25em;

    padding: 0px !important;
  }
}
