@import '~assets/scss/utils';

@include media-breakpoint-down(sm) {
  .profile-nav-tabs {
    width: fit-content;
    margin: 0 auto;
  }
}
.nav-item {
  cursor: pointer;
}
.schedule {
  max-width: 500px;
}
