@import '~assets/scss/utils';

.tab-content > .active {
  display: flex !important;
  flex-direction: column;
}
.hover-blue {
  transition: all 0.3s ease-in-out;
  &:hover {
    color: $gu-purple !important;
  }
}
.hover-black {
  color: rgba(119, 119, 119, 0.979);
  transition: all 0.3s ease-in-out;
  &:hover {
    color: $gu-black;
  }
}

.hover-pink {
  transition: all 0.3s ease-in-out;
  &:hover {
    color: $gu-pink !important;
  }
}
.tabs {
  button {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  li:first-child {
    padding-left: 5px;
    margin-right: 20px;
  }
}
.OKR-page {
  display: grid;
  grid-template-columns: minmax(285px, 1fr) minmax(285px, 1fr) minmax(
      285px,
      1fr
    );
  row-gap: 20px;
  column-gap: 20px;
}

.tabs__tab {
  c button {
    padding: 0;
  }
}
