@import 'src/assets/scss/utils';

.interests {
  margin: 12px 0;
}

.interests-header {
  border-radius: 10px 10px 0 0;
  padding: 26px 38px;
  border-bottom: 1px solid $gu-white;

  &__title {
    line-height: 25px;
  }

  &__edit-icon {
    font-size: 22px;
  }
}

.interests-content {
  padding: 20px 28px 38px 34px;
}

@include media-breakpoint-down(lg) {
  .interests-header {
    &__edit {
      width: 50px;
      height: 50px;
      border-radius: 100%;

      & > span {
        display: none;
      }
    }

    &__edit-icon {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

.stepper__form--first-block {
  max-width: 370px;
}
