.okr-container {
    margin-left: 15px;
    margin-bottom: 15px;
    width: 285px;
    height: 175px;
    border: 2px solid #ff9900;
    border-radius: 10px;
    padding: 8px 15px;
    display: grid;
    grid-template-columns: 1fr, 1fr, 30px;
    grid-template-rows: 1fr, 1fr, 100px;
    grid-template-areas:
            "n n re"
            "obj key ."
            "t t t";
}

.OKR-name {
    grid-area: n;
}

.reached {
    grid-area: re;
    align-self: start;
    justify-self: end;
}

.objectives {
    grid-area: obj;
    align-self: start;
}

.key-result {
    grid-area: key;
    align-self: start;
}

.timestamp {
    grid-area: t;
    color: silver;
}

.OKR-page {
    display: flex;
    flex-direction: row;
    // max-width: 900px;
    flex-wrap: wrap;
}
