@import 'src/assets/css/styles';

.range-slider {
  flex-flow: column nowrap;
  width: 27em;
  box-sizing: border-box;
}

.range-input,
.range-item {
  border-radius: 0.75em;
  overflow: hidden;
  height: 1.5em;
}

.range-input {
  background-color: transparent;
  font-size: 1em;
  box-shadow: 0.3em 0.3em 0.4em #c1c2c5 inset, -0.3em -0.3em 0.4em #fff inset;
  padding: 0 0.1em;
  width: 100%;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.range:focus {
  outline: transparent;
}

.range-ticks {
  justify-content: space-between;
  align-items: center;
  pointer-events: none;
  position: absolute;
  top: 0.04em;
  left: 0.75em;
  width: calc(100% - 1.9em);
  height: 100%;
}

.range-tick {
  color: #454954;
  text-align: center;
  width: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.range-tick-text {
  transform: translateX(-50%);
}

.data-range {
  height: 3em;
  width: 3em;
  text-align: center;
  font-size: 0.5em;
  pointer-events: none;
  top: 0;
  border: 0;
  border-radius: 50%;
  box-shadow: -0.3em -0.3em 0.5em #463da8 inset,
    0 -0.2em 0.2em 0 rgba(0, 0, 0, 0.2), 0.3em 0.5em 0.8em rgba(0, 0, 0, 0.3);
}

@include media-breakpoint-down(md) {
  .range-slider {
    min-width: 13em;
    font-size: 1.7em;
  }
}

@include media-breakpoint-down(sm) {
  .range-slider {
    min-width: 12em;
    box-sizing: border-box;
    font-size: 1.6em;
  }
}
