.notifications{
    &__title{
        background-color:#4F00B5;
        color:#fff;
        font-size:1.1rem;
    }
    &__view-all{
        font-size:0.9rem;
        cursor: pointer;
        color:rgba(0, 112, 245, 1);
        transition: all 0.5s ease-out;
        &:hover{
            color:rgb(3, 96, 209)
        }
    }
}

.notification{
    cursor: pointer;
    transition: all 0.5s ease-out;
    &:hover{
        background-color:rgba(207, 204, 204, 0.781) !important;
    }
    &__name{
        text-overflow: ellipsis;
        max-width:600px;
    }

    &__type{
        border-radius: 10px;
        color:#fff;
        font-size:0.8rem;
        background-color:#4F00B5;
        flex-basis:90px;
        height:24px;
        &--okr{
            background-color:#EE2A64;
        }
        &--approve-skills{
            background-color:rgba(28, 195, 54, 1);
        }
    }
}
