.header {
  display: flex;
  gap: 30px;
  margin: 21px auto 65px 8px;
}

.profile {
  position: relative;

  &__avatar {
    width: 148px;
    height: 148px;
  }

  &__edit {
    border: 1px solid #EE2A64;
    border-radius: 100%;
    width: 26px;
    height: 26px;
    position: absolute;
    top: 13px;
    right: 0px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .edit-button {
    width: 10px;
    color: #EE2A64;
  }
}

.profile-info {
  display: flex;
  flex-direction: column;
  justify-content: center;

  &__name {
    font-size: 24px;
    font-weight: 700;
    line-height: 33px;
    text-align: left;
    margin: 0;
    margin-bottom: 2.5px;
    color: #1D1D1D;
  }

  &__position {
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    text-align: left;
    margin: 0;
    color: #1D1D1D;
  }
}

.level {
  display: flex;
  align-items: center;
  margin-top: 6px;
  gap: 8px;

  &__text {
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;
    text-align: left;
    margin: 0;
    color: #5C5D5F;
  }

  &__icon {
    color: #4F00B5;
    height: 14px;
    width: 13px;
  }
}
