.header {
  width: 100%;
  gap: 30px;
  padding: 52px 8px;
  background-color: #fff;
  margin-bottom: 13px;
}

.profile {
  position: relative;

  &__avatar {
    width: 148px;
    height: 148px;
  }

  &__edit {
    border: 1px solid #EE2A64;
    border-radius: 100%;
    width: 26px;
    height: 26px;
    top: 13px;
    right: 0px;
    background-color: #fff;
  }

  .edit-button {
    width: 10px;
    color: #EE2A64;
    cursor: pointer;
  }
}

.profile-description {
  flex-direction: column;

  &__name {
    font-size: 24px;
    font-weight: 700;
    line-height: 33px;
    text-align: left;
    margin: 0;
    margin-bottom: 2.5px;
    color: #1D1D1D;
  }

  &__position {
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    text-align: left;
    margin: 0;
    color: #1D1D1D;
  }
}

.level {
  margin-top: 6px;
  gap: 8px;

  &__text {
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;
    text-align: left;
    margin: 0;
    color: #5C5D5F;
  }

  &__icon {
    color: #4F00B5;
    height: 14px;
    width: 13px;
  }
}

@media screen and (max-width: 576px) {
  .profile__edit {
    visibility: hidden;
  }

  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    padding-top: 16px;
    padding-bottom: 28px;
  }
}
