/* stylelint-disable */
@import "../../assets/css/theming.scss";
/* stylelint-enable */

.sidebar-section {
    z-index: 3;
}

.sidebar-container {
    width: 273px;
    display: flex;
    padding-top: 1.53125em;
    @media screen and ( max-width:35.9375em) {
        align-items: center;
        width: 70px;
    }
}

.logo-section {
    padding-left: .5em;
    padding-right: .5em;
    margin-bottom: 6.203125em;
    &__icon {
        margin-right: 0em;
    }
    @media screen and ( min-width:35.9375em) {
        padding-left: 2.21875em;
        &__icon {
            margin-right: 0.927em;
        }
    }
}

.logo-icon {
    width: 47.82px;
    height: 47.82px;
}

.logo-title {
    line-height: 1.380em;
}

.navigation-section {
    @media screen and ( min-width:35.9375em) {
        padding-left: 0.96875em;
        padding-right: 0.96875em;
    }
}

.navigation-link {
    line-height: 1.38em;
    &__icon {
        max-width: 20px;
        max-height: 20px;
        margin-right: 0;
    }
    @media screen and ( min-width:35.9375em) {
        &__icon {
            margin-right: 0.927em;
        }
    }
}

.navigation-item .active {
    display: flex;
    align-items: center;
    flex: 1 1 238px;
    height: 45px;
    width: 100%;
    background-color: #fff;
    border-radius: 10px;
}

.active .navigation-link * {
    display: flex;
    width: 100%;
    font-weight: bold;
    color: $gu-blue;
    fill: $gu-pink;
}


.navigation-item {
    list-style-type: none;
    &__link {
    //    padding-left: 1em;
    }
    @media screen and ( min-width:35.9375em) {
        &__link {
            padding-left: 1.938em;
        }
    }
}

.navigation-item a {
    text-decoration: none;
}

.navigation-item:not(:last-child) {
    margin-bottom: 1.53125em;
}
