/* stylelint-disable */
@import "../../assets/css/theming.scss";
/* stylelint-enable */

.sidebar-section {
    z-index: 20;
    overflow: scroll;
}

.sidebar-container {
    width: 273px;
    padding-top: 1.375em;
    @media screen and ( max-width: 47.9375em) {
        padding-top: .9em;
        align-items: center;
        width: 65px;
        padding-left: .3em;
        padding-right: .3em;
    }
}

.logo-section {
    padding-left: .7em;
    padding-right: .7em;
    margin-bottom: 3em;
    @media screen and ( min-width: 47.9375em) {
        padding-left: 2.21875em;
        margin-bottom: 6.203125em;
        &__icon {
            margin-right: 0.927em;
        }
    }
}

.logo-icon {
    width: 47.82px;
    height: 47.82px;
}

.logo-title {
    line-height: 1.380em;
    font-weight: bold;
}

.navigation-section {
    @media screen and ( min-width: 47.9375em) {
        padding-left: 0.96875em;
        padding-right: 0.96875em;
    }
}
.navigation-section__list {
    @media screen and ( max-width: 47.9375em) {
        align-items: center;
    }
}

.navigation-link {
    line-height: 1.38em;
    &__icon {
        width: 27px;
        height: 27px;
    }
    @media screen and ( min-width: 47.9375em) {
        &__icon {
            margin-right: 0.927em;
            max-width: 20px;
            max-height: 20px;
        }
    }
}

.navigation-item .active {
    display: flex;
    align-items: center;
    height: 41px;
    width: 41px;
    background-color: #fff;
    border-radius: 33%;
    @media screen and ( min-width: 47.9375em) {
        height: 45px;
        width: 100%;
        border-radius: 10px;
    }
}

.active .navigation-link * {
    display: flex;
    width: 100%;
    font-weight: bold;
    color: $gu-blue;
    fill: $gu-pink;
}

.navigation-item {
    list-style-type: none;
    margin-bottom: 1.53125em;
    &__link {
        padding: .5em;
    }
    @media screen and ( min-width: 47.9375em) {
        &__link {
            padding-left: 1.938em;
        }
    }
}
