@import '~assets/scss/utils';

@keyframes textShowTitle {
  0% {
    width: 0%;
    display: none;
    overflow: hidden;
  }

  100% {
    width: 100%;
    display: block;
    overflow: visible;
  }
}

.sidebar__burger {
  width: 30px;
  height: 30px;
  transition: all 0.7s ease-in-out;
  &:hover {
    background-color: $gu-purple !important;
  }

  svg {
    transition: all 0.7s ease-in-out;
    width: 15px;
    height: 15px;
  }
  top: 3.5%;
  left: 93%;
}
.sidebar-section {
  z-index: 3;
}

.sidebar-container {
  width: 273px;
  transition: all 0.7s ease-in-out;
  @include media-breakpoint-down(md) {
    width: 65px;
  }
}

.logo-icon {
  width: 47.82px;
  height: 47.82px;
}

.logo-title {
  line-height: 1.38em;
  font-weight: bold;
  white-space: nowrap;
}
.navigation-section__list {
  @include media-breakpoint-down(md) {
    align-items: center;
  }
}

.navigation-link {
  line-height: 1.38em;
  &__icon {
    width: 27px;
    height: 27px;
  }
  @include media-breakpoint-up(md) {
    &__icon {
      max-width: 20px;
      max-height: 20px;
    }
  }
}

.navigation-item .active {
  display: flex;
  align-items: center;
  height: 41px;
  width: 41px;
  background-color: #fff;
  border-radius: 33%;
  @include media-breakpoint-up(md) {
    height: 45px;
    width: 100%;
    border-radius: 10px;
  }
}
.navigation-list-item--blocked * {
  color: rgb(187, 187, 187);
  fill: rgb(187, 187, 187);
  cursor: auto;
  pointer-events: none;
}

.active .navigation-link * {
  display: flex;
  width: 100%;
  font-weight: bold;
  color: $gu-blue;
  fill: $gu-pink;
}

.navigation-item {
  list-style-type: none;
}

.navigation-section__burger-active {
  margin-top: 4rem;
}
.title-anim {
  transition: width 0.7s ease-in-out;
  animation: textShowTitle 0.7s ease-in-out 1 normal forwards;
}

.sidebar-container--small-version {
  width: 65px;
  .navigation-link {
    &__icon {
      max-width: none !important;
      max-height: none !important;
    }
  }
  .title-anim {
    width: 0%;
    display: none;
  }
  .navigation-item .active {
    display: flex;
    align-items: center;
    height: 41px;
    width: 41px;
    background-color: #fff;
    border-radius: 33%;
  }
  .sidebar__burger svg {
    transform: translate(-50%, -50%) rotate(-180deg) !important;
  }
}

@include media-breakpoint-down(md) {
  .logo-title {
    display: none;
  }
  .navigation-link__title {
    display: none;
  }
  .active .navigation-link .navigation-link__title {
    display: none;
  }
}
