@import '~assets/scss/utils';

.okr-container {
  width: 285px;
  height: 175px;
  border: 2px solid $gu-pink;
  border-radius: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 30px;
  grid-template-rows: 1fr 1fr 100px;
  grid-template-areas:
    'name name reached'
    'obj key .'
    'time time time';
}

.OKR-name {
  grid-area: name;
}

.reached {
  grid-area: reached;
}

.objectives {
  grid-area: obj;
}

.key-result {
  grid-area: key;
}

.timestamp {
  grid-area: time;
}
