.opportunities{
    &__header{
        background-color: #4F00B5;
        color: #fff;
    }
    &__title{
        font-size:1.1rem;
    }
    &__add-opportunity-btn{
        font-size:0.8rem;
        cursor: pointer;
        transition: all 0.5s ease-in-out;
        &:hover{
            color:rgb(211, 211, 211);
        }
    }
    &__cart--text{
        font-size:0.9rem;
    }
    &__cart--text-item{
        &:last-child{
            margin-bottom:0 !important;
        }
    }
    &__cart--tags{
        font-size: 0.9rem;
        color: #0070f5;
    }
    &__cart--link{
        flex-basis:100%;
        span{
            font-size:0.8rem;
            background-color:#4F00B5;
            color:#fff;
            cursor: pointer;
            transition: all 0.5s ease-in-out;
            &:hover{
                background-color:#430397;
            }
        }
    }
}
