@import 'src/assets/css/styles';

.add-section {
  border-radius: 10px;
  margin: 12px 0;
}

.add-section-header {
  border-radius: 10px 10px 0 0;
  padding: 26px 38px;

  &__title {
    line-height: 25px;
  }

  &__add {
    border-radius: 30px;
    border: 2px solid #fff;
    padding: 6px 23px;
    line-height: 22px;
  }
  &__add-icon {
    font-size: 22px;
  }
}

.add-section-content {
  padding: 50px 40px 40px 40px;
}

@include media-breakpoint-down(lg) {
  .add-section {
    margin: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  .add-section + .add-section {
    border-radius: 0;
  }

  .add-section-header {
    &__add {
      position: relative;
      color: #fff;
      width: 50px;
      height: 50px;
      border: 2px solid #fff;
      border-radius: 100%;

      & > span {
        display: none;
      }
    }

    &__add-icon {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}
