.add-section {
  border-radius: 10px;
  margin: 12px 0;
  padding-bottom: 44px;
  background-color: #fff;
}

.add-section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px 10px 0 0;
  background-color: #463DA8;
  color: #fff;
  padding: 26px 38px;

  &__title {
    font-size: 18px;
    font-weight: 700;
    line-height: 25px;
    margin: 0;
  }

  &__add-button {
    padding: 6px 23px;
    border: 3px solid #fff;
    border-radius: 30px;
    background: none;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    line-height: 22px;
  }
}

.add-section-content {
  position: relative;
  margin-top: 50px;
  margin-right: 40px;

  &::before {
    position: absolute;
    content: "";
    display: block;
    height: calc(100% + 7px);
    width: 2px;
    border: 1px solid #E1DBEA;
    margin-left: 40px;
    top: -7px
  }
}
