@import '~assets/scss/utils';

.user-control-btn {
  svg {
    width: 18px;
    height: 18px;
  }
  &:hover {
    color: $pink !important;
  }
}
@include media-breakpoint-down(lg) {
  .btn-responsive {
    & > span {
      display: none;
    }
  }
}
@include media-breakpoint-down(md) {
  .user-control__buttons {
    text-align: center;
  }
}
@include media-breakpoint-down(sm) {
  .btn-responsive {
    & > span {
      display: inline-block !important;
    }
  }
}
