@import '~assets/scss/utils';

.delete-user {
  transition: all 0.5s ease-in;
  &:hover {
    color: $pink;
  }
}
@include media-breakpoint-down(lg) {
  .btn-responsive {
    & > span {
      display: none;
    }
  }
}

@include media-breakpoint-down(sm) {
  .btn-responsive {
    & > span {
      display: inline-block !important;
    }
  }
}
