@import '~assets/scss/utils';

.users__row {
  &:hover button {
    visibility: visible !important;
  }
}
.user-control-btn {
  margin-right: 1rem;

  @media screen and (max-width: 767px) {
    margin-right: 0 !important;
    margin-bottom: 10px !important;
  }
}
@include media-breakpoint-down(lg) {
  .btn-responsive {
    & > span {
      display: none;
    }
  }
}

@include media-breakpoint-down(sm) {
  .btn-responsive {
    & > span {
      display: inline-block !important;
    }
  }
}
