$white-blue: #F0F3F9;

.header-container {
    max-height: 88.5px;
    padding-right: 3.2225em;
    padding-top: 1.375em;
    padding-bottom: 1.34375em;
}

.form-section {
    &__search-icon {
        margin-left: 1.425625em;
        top: 43%;
    }
    &__search-input {
        margin-right: 2.29375em;
    }
}

.search-icon {
    width: 15px;
    height: 15px;
    opacity: 0.4;
}

.search-input {
    height: 45px;
    width: 280px;
    background-color: $white-blue;
    border-radius: 50px;
    padding-left: 3.6em;
    padding-top: 0.9375em;
    padding-bottom: 0.9375em;
}

.search-input::placeholder {
    line-height: 1.36em;
    opacity: 0.4;
}

.notification-section {
    cursor: pointer;
    &__icon {
        margin-right: 2.414375em;
    }
    &__notification-pointer {
        left: 11px;
        top: 3px;
    }
}

.avatar-icon {
      cursor: pointer;
      width: 47.64px;
      height: 47.64px;
}
