.opportunity-modal {
  width: 80%;
  max-width: 840px;
  &--item {
    border: 0;
    border-bottom: 1px solid rgba(145, 145, 145, 0.582);
    transition: all 0.5s ease-in-out;
    outline: none;
    &:focus {
      border-bottom: 1px solid rgb(70, 61, 168);
    }
  }
  &__close-btn {
    right: 5px;
    cursor: pointer;
    svg {
      width: 23px;
      height: 23px;
    }
  }
}

.follow {
  cursor: pointer;
  background-color: rgba(70, 61, 168, 0.2);
  width: 30px;
  height: 30px;
  svg {
    width: 20px;
    height: 20px;
  }
  &:hover {
    svg {
      color: #4f00b5;
    }
  }
}

.opportunity-modal-wrapper {
  background-color: rgba(136, 136, 136, 0.432);
  z-index: 1000;
  height: 100vh;
}
