@import 'src/assets/css/styles';

.profile-main {
  display: flex;
  width: 100%;
  gap: 15px;
}

.left-side {
  width: 59%;
}

.right-side {
  width: 40%;
}

.group {
  width: 100%;
  text-align: left;

  &__title {
    line-height: 17px;
    text-align: left;
    color: #808c9c;
    width: 100%;
  }
}

.group + .group {
  margin-top: 50px;
}

@include media-breakpoint-down(xl) {
  .profile-main {
    display: block;
  }

  .left-side,
  .right-side {
    width: auto;
  }
}
