.profile-main {
  display: grid;
  grid-template-columns: 3fr 2fr;
  grid-template-rows: repeat(4, auto);
  grid-column-gap: 14px;
  grid-row-gap: 16px;
}

.group {
  width: 100%;
  text-align: left;

  .group__title {
    font-size: 12px;
    font-weight: 700;
    line-height: 17px;
    text-align: left;
    color:  #808C9C;
    width: 100%;
  }
}

.group + .group {
  margin-top: 50px;
}
