@import 'assets/css/styles';

.edit-section {
  border-radius: 10px;
  margin: 12px 0;
}

.edit-section-header {
  border-radius: 10px 10px 0 0;
  color: #463DA8;
  padding: 26px 38px;
  border-bottom: 1px solid #E1DBEA;

  &__title {
    line-height: 25px;
  }

  &__edit {
    padding: 6px 23px;
    color: #ee2a64;
    border: 2px solid #EE2A64;
    border-radius: 30px;
    line-height: 22px;
  }

  &__edit-icon {
    margin-right: 10px;
    width: 15px;
  }
}

.edit-section-content {
  padding: 20px 28px 38px 34px;
}

@include media-breakpoint-down(xl) {
  .edit-section {
    margin: 0;
    border-radius: 0;
  }

  .edit-section-header {
    background-color: #463DA8;
    color: #fff;

    &__edit {
      position: relative;
      color: #fff;
      width: 50px;
      height: 50px;
      border: 2px solid #fff;
      border-radius: 100%;

      & > span {
        display: none;
      }
    }

    &__edit-icon {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}
