.edit-section {
  width: 100%;
  border-radius: 10px;
  margin: 12px 0;
  background-color: #fff;
}

.edit-section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px 10px 0 0;
  background-color: #fff;
  color: #463DA8;
  padding: 26px 38px;


  &__title {
    font-size: 18px;
    font-weight: 700;
    line-height: 25px;
    margin: 0;
  }

  &__edit-button {
    padding: 6px 23px;
    border: 2px solid #EE2A64;
    border-radius: 30px;
    background: none;
    font-size: 16px;
    font-weight: 700;
    line-height: 22px;
    color: #EE2A64;
  }
}

.edit-section-content {
  margin: 20px 28px 40px 34px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}
