.modal-content {
  background-color: var(--bs-gray-200);

  .modal-header {
    background-color: var(--bs-white);
  }

  .modal-footer {
    button {
      color: var(--bs-white);
      padding: 6px 26px;
    }
  }
}
