%growup-card {
  border-radius: 10px !important;
  border: 0px !important;

  box-shadow: 0px 2px 4px $shadow;

  .card-header {
    padding: 1.5rem 2rem !important;
    border: 0px !important;
  }
}

.growup-card-primary {
  @extend %growup-card;

  .card-header {
    background: $purple-dark;
    color: $white;
  }
}

.growup-card-secondary {
  @extend %growup-card;

  .card-header {
    background: $white;
    color: $purple-dark;

    border-bottom: 1px solid $card-header-boder !important;
  }
}

.bg-growup-navigation {
  background: $white !important;
  box-shadow: 0px 2px 4px $shadow !important;
}
