@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";

/* stylelint-disable */

$font-size-1:                12px !default;
$font-size-2:                14px !default;
$font-size-3:                16px !default;
$font-size-4:                18px !default;
$font-size-6:                24px !default;
$font-size-7:                26px !default;

$custom-font-sizes: (
  1: $font-size-1,
  2: $font-size-2,
  3: $font-size-3,
  4: $font-size-4,
  6: $font-size-6,
  7: $font-size-7,
) !default;

$font-sizes: map-merge($font-sizes, $custom-font-sizes);

/* stylelint-enable */
