.btn {
  border-radius: 70px !important;

  &:focus {
    box-shadow: none;
  }
}

.btn-hover-gu-purple:hover {
  color: $gu-blue !important;
}

.btn-hover-gu-white:hover {
  color: $white !important;
}
