// COLORS
$gu-blue: #463da8;
$gu-white: #f6f7f9;
$gu-black: #1d1d1d;
$gu-purple: #291965;
$gu-pink: #ee2a64;

$purple: #4f00b5;
$purple-light: #eeebfb;
$purple-gray: #6b6293;
$white: #fff;

$shadow: rgba(173, 164, 164, 0.15);
$card-header-border: #e1dbea;

// FONT SIZE
$font-size-7: 0.75rem !default;
$font-size-6: 0.875rem !default;
$font-size-5: 1rem !default;
$font-size-4: 1.125rem !default;
$font-size-3: 1.25rem !default;
$font-size-2: 1.5rem !default;
$font-size-1: 1.625rem !default;
